# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# hiking custom
user_data/

# Unit test / coverage reports
.coverage
.coverage.*
.cache
.pytest_cache
coverage.xml
*,cover
